<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<title>Dymo LW450</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

	<!-- Header -->
	<header id="header">
		<a href="index.html" class="logo"><strong>Dymo</strong> <span>LW450</span></a>
	</header>

	<!-- Main -->
	<section>
		<div class="inner">
			<section>
				<form method="post" action="/print">
					<div class="fields">
						<div class="field">
							<label for="fromAddress">From</label>
							<input type="text" name="fromAddress" id="fromAddress" value="<%= fromAddress %>" />
						</div>
						<div class="field">
							<label for="toAddress">To</label>
							<textarea name="toAddress" id="toAddress" rows="6" style="resize: none;"></textarea>
						</div>
					</div>
					<ul class="actions">
						<li><input type="submit" value="Print" class="primary" /></li>
						<li><input type="reset" value="Clear" /></li>
					</ul>
				</form>
			</section>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="copyright">
				<li>&copy; 2022 dschuuls</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>